body {
  position: relative;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #18216D; }

a {
  color: #18216D;
  text-decoration: none;
  font-weight: 500; }
  a:hover {
    text-decoration: underline; }

.eclipse {
  position: absolute;
  z-index: -1; }
  .eclipse_big {
    width: 766px;
    height: 766px;
    left: -149px;
    top: -147px;
    background: #FF523D;
    opacity: 0.05;
    filter: blur(150px); }
  .eclipse_middle {
    width: 664px;
    height: 664px;
    right: 70px;
    bottom: 100px;
    background: #00ECD0;
    opacity: 0.05;
    filter: blur(250px); }
  .eclipse_small {
    width: 442px;
    height: 442px;
    left: 35px;
    top: 1022px;
    background: #EC00AA;
    opacity: 0.06;
    filter: blur(250px); }

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 40px; }

.center {
  padding: 0 calc(50% - 550px); }

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 calc(50% - 650px);
  margin-bottom: 50px; }
  .bar_menu {
    display: none; }

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 10px; }
  .logo_img {
    margin-right: 7px; }

.navigation {
  width: 60%; }
  .navigation_link {
    padding: 10px 15px; }

.auth_link {
  padding: 10px 15px; }

.btn_link {
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 11px 19px;
  transition: all 0.3s; }
  .btn_link_auth {
    background-color: #18216D;
    color: white; }
    .btn_link_auth:hover {
      text-decoration: none;
      background-color: #00ECD0;
      color: #18216D; }
  .btn_link_greeting {
    background-color: #00ECD0; }
    .btn_link_greeting:hover {
      text-decoration: none;
      background-color: #18216D;
      color: white; }

.greeting_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 520px;
  background: url("../img/humans.svg") no-repeat right center; }
.greeting_title {
  font-weight: 600;
  font-size: 2.7rem;
  width: 50%;
  margin-bottom: 16px; }
.greeting_text {
  width: 45%;
  line-height: 28px;
  margin-bottom: 35px; }
.greeting_img {
  display: none; }

.about {
  margin-bottom: 130px; }
  .about_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center; }
  .about_title {
    font-weight: 600;
    font-size: 2rem;
    width: 45%; }
  .about_rating {
    display: flex;
    justify-content: space-between; }
    .about_rating_block {
      margin-right: 90px; }
    .about_rating_text {
      font-size: 3.9rem;
      font-weight: 700;
      margin-bottom: 10px; }
    .about_rating_icons {
      margin-bottom: 10px; }
    .about_rating_desc {
      font-size: 0.9rem; }
  .about_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.specials {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px; }
  .specials_title {
    text-transform: capitalize;
    font-size: 2.7rem;
    margin-bottom: 15px;
    text-align: center; }
  .specials_desc {
    text-align: center;
    font-size: 0.9rem;
    width: 55%;
    margin-bottom: 50px; }
  .specials_list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
  .specials_el {
    width: 320px; }
    .specials_el_icon {
      margin-bottom: 30px; }
    .specials_el_title {
      font-size: 1.5rem;
      margin-bottom: 15px; }
    .specials_el_text {
      font-size: 0.9rem;
      margin-bottom: 30px; }
    .specials_el_link {
      font-weight: 500;
      font-size: 1.2rem; }

@media (max-width: 1350px) {
  .bar {
    padding: 0 20px; } }
@media (max-width: 1140px) {
  * {
    font-size: 16px; }

  .center {
    padding: 0 20px; }

  .greeting_block {
    align-items: center;
    background: none;
    justify-content: flex-start;
    height: auto; }
  .greeting_title {
    text-align: center; }
  .greeting_text {
    text-align: center; }
  .greeting_img {
    margin-top: 40px;
    width: 60%;
    display: block; } }
@media (max-width: 1024px) {
  * {
    font-size: 15px; }

  .greeting_text {
    margin-bottom: 25px; }

  .about_rating_block {
    margin-right: 70px; } }
@media (max-width: 825px) {
  .greeting_title {
    width: 85%; }

  .greeting_text {
    width: 60%; }

  .bar_menu {
    display: block; }

  .navigation, .auth {
    display: none; }

  .about_top {
    flex-direction: column; }
  .about_title {
    width: 67%;
    margin-bottom: 22px; }
  .about_rating {
    justify-content: center; }
    .about_rating_block {
      margin: 0 90px; }
  .about_logo:nth-child(5), .about_logo:last-child {
    display: none; }

  .specials_list {
    flex-direction: column;
    align-items: center; }

  .specials_el {
    margin-bottom: 50px; } }
@media (max-width: 525px) {
  .eclipse_big {
    width: 400px;
    height: 400px; }
  .eclipse_middle {
    display: none; }
  .eclipse_small {
    display: none; }

  .greeting_title {
    width: 100%; }
  .greeting_text {
    width: 90%; }

  .about {
    margin-bottom: 50px; }
    .about_title {
      width: 100%; }
    .about_rating_block {
      margin: 0 60px; }
    .about_logo {
      width: 20%; }

  .specials {
    margin-bottom: 40px; }
    .specials_desc {
      width: 100%; } }
@media (max-width: 425px) {
  * {
    font-size: 13px; }

  .header {
    margin-bottom: 60px; }

  .bar {
    margin-bottom: 40px; }

  .about_title {
    font-size: 1.8rem; }
  .about_rating_text {
    width: 15%;
    margin-bottom: 5px; }
  .about_rating_desc {
    font-size: 0.6rem; }
  .about_rating_icon {
    width: 15%; }

  .specials_title {
    font-size: 2rem; }

  .specials_el_icon {
    margin-bottom: 20px; }
  .specials_el_title {
    margin-bottom: 10px; }
  .specials_el_text {
    margin-bottom: 20px; } }
@media (max-width: 325px) {
  * {
    font-size: 12px; }

  .about_rating_block {
    margin: 0 20px; }

  .specials {
    padding: 0 20px; }
    .specials_el {
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
